<p id="notice"><%= notice %></p>

<h1>Listing Authentifications</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @authentifications.each do |authentification| %>
      <tr>
        <td><%= link_to 'Show', authentification %></td>
        <td><%= link_to 'Edit', edit_authentification_path(authentification) %></td>
        <td><%= link_to 'Destroy', authentification, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Authentification', new_authentification_path %>
