<div class="row" style="background-color: #DDDDDD">
    <% @categories.each do |category| %>
      <div class="col-sm-6 col-md-4" style="height:300px;margin-top: 1%">
        <div class="thumbnail" style="height:300px ">
          <div style="height:180px">
          <% if category.products.size > 0 %>
            <%= image_tag category.products.first.photo.url(:medium) , class: 'img-responsive' , style: 'display: block;margin: 0 auto ;'%>
          <% end %>
          </div>
          <div class="caption">
            <h4><%= category.name %> <span class="badge"><%= category.products.size %></span></h4>
            <%= link_to "Show" , { action: 'show', controller: 'categories', id: category.id },{ class: "btn btn-primary btn-lg btn-block", role: "button"}%>
          </div>
        </div>
      </div>
    <%end%>
</div>
<div class="text-center">
  <%= will_paginate @categories, renderer: BootstrapPagination::Rails %>
</div>